<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.PhoneMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Phone">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone_name" jdbcType="VARCHAR" property="phoneName" />
    <result column="phone_color" jdbcType="VARCHAR" property="phoneColor" />
    <result column="phone_model" jdbcType="VARCHAR" property="phoneModel" />
    <result column="phone_size" jdbcType="INTEGER" property="phoneSize" />
  </resultMap>

  <insert id="add" keyProperty="id" parameterType="com.company.project.model.Phone" useGeneratedKeys="true">
    insert into phone (id, phone_name, phone_color,
    phone_model, phone_size)
    values (#{id,jdbcType=INTEGER}, #{phoneName,jdbcType=VARCHAR}, #{phoneColor,jdbcType=VARCHAR},
    #{phoneModel,jdbcType=VARCHAR}, #{phoneSize,jdbcType=INTEGER})
  </insert>
</mapper>