<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.UpinMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Upin">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="leading_words" jdbcType="VARCHAR" property="leadingWords" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="praise_num" jdbcType="INTEGER" property="praiseNum" />
    <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="RulyResultMap" type="com.company.project.model.Upin">
    <association column="type_id" javaType="com.company.project.model.UpinType" property="type">
      <id column="upin_type_id" jdbcType="INTEGER" property="upinTypeId" />
      <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    </association>
  </resultMap>
  <select id="findAllRely" resultMap="RulyResultMap">
    SELECT
    *
    FROM
    upin u
    LEFT JOIN upin_type t ON u.type_id = t.upin_type_id
  </select>
</mapper>